.header-main {
  display: block;
  margin-top: 6rem;
  padding: 0.5rem;
  text-align: center;
}
.header-main h1 {
  color: #cd890c;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.header-main .btn-pro {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}
.header-main .btn-pro button {
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 1s;
}

.header-main .btn-pro button:hover {
  background-color: #fb7747;
}

@media (min-width: 300px) {
  .btn-pro {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
